body {
    display: flex;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 300px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.container div {
    border-width: 2px;
    border-style: solid;
    height: 20px;
    width: 20px;

}